[submodule "core"]
	path = core
	url = ../even_COREnier.git
[submodule "bot/connection"]
	path = bot/connection
	url = ../connection.git
	branch = main
[submodule "3d-visualizer"]
	path = 3d-visualizer
	url = ../3d-visualizer.git
[submodule "debug-visualizer"]
	path = debug-visualizer
	url = ../debug-visualizer.git
