[submodule "core"]
	path = core
	url = git@github.com:42core-team/even_COREnier.git
[submodule "bot/connection"]
	path = bot/connection
	url = git@github.com:42core-team/connection.git
	branch = main
